@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
/* LOGIN */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(assets/img/fondo.gif);
    background-position: center;
    background-size: cover;
}

.login .form-valores{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .form-valores h2{
    font-size: 2em;
    color: #1CB698;
    text-align: center;
}

.login .form-valores .valor {
    position: relative;
    margin: 30px 50px;
    width: 310px;
    border-bottom: 2px solid #fff;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
 
}

.login .form-valores .valor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-10%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
 
}
.login .form-valores .valor input:focus ~ label,
.login .form-valores .valor input:valid  ~ label{
top: -0.5px;
}

.login .form-valores .valor input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;

}

.login .form-valores .valor i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.login .form-valores .forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.login .form-valores .forget label input{
    margin-right: 3px;
    
}

.login .form-valores .forget  a{
    color: #fff;
    text-decoration: none;
    margin-left: 130px;
}
.login .form-valores .forget  a:hover{
    text-decoration: underline;
}

.login .form-valores .onEnviar{
    width: 100%;
    display: flex;
    justify-content:center ;
}

.login .form-valores .onEnviar button{
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.login .form-valores .registrar{
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    margin: 25px 0 10px;
}

.login .form-valores .registrar p a{
    text-decoration: none;
    color: #fff;
    font-size: 600;
}

.login .form-valores .registrar p a:hover{
    text-decoration: underline;
}

/*AGREGAR GENTE*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(assets/img/fondo.gif);
    background-position: center;
    background-size: cover;
}

.container .form-valores{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form-valores h2{
    font-size: 2em;
    color: #1CB698;
    text-align: center;
}

.container .form-valores .valor {
    position: relative;
    margin: 30px 50px;
    width: 310px;
    border-bottom: 2px solid #fff;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
 
}

.container .form-valores .valor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-10%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
 
}
.container .form-valores .valor input:focus ~ label,
.container .form-valores .valor input:valid  ~ label{
top: -0.5px;
}

.container .form-valores .valor input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: #fff;
}

.container .form-valores .valor i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.container .form-valores .onEnviar{
    width: 100%;
    display: flex;
    justify-content:center ;
}

.container .form-valores .onEnviar button{
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.container .form-valores .registrar{
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    margin: 25px 0 10px;
}

.container .form-valores .registrar p a{
    text-decoration: none;
    color: #fff;
    font-size: 600;
}

.login .form-valores .registrar p a:hover{
    text-decoration: underline;
}


/* MENU */
.contenedor-header{
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}
.contenedor-header header{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 30px;
    color: #1CB698;
    text-decoration: none;
   
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    font-size: 20px;
    margin: 0px 15px;
    padding: 1px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header ul button{
    
    text-align: none;
    color: #fff;
    border:transparent;
    background:transparent;
    font-size: 20px;
    margin: 0px 15px;
    padding: 1px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul button:hover{
    background-color: #1CB698;
    color:#fff;
    border-radius: 5px;

}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(assets/img/fondo.gif);
    background-position: center;
    background-size: cover;
}

.container1 .form-valores{
    position: relative;
    width: 400px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 .form-valores h2{
    font-size: 2em;
    color: #1CB698;
    text-align: center;
}

.container1 .form-valores .valor {
    position: relative;
    margin: 30px 50px;
    width: 310px;
    border-bottom: 2px solid #fff;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
 
}

.container1 .form-valores .valor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-10%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
 
}
.container1 .form-valores .valor input:focus ~ label,
.container1 .form-valores .valor input:valid  ~ label{
top: -0.5px;
}

.container1 .form-valores .valor input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 25px 0 5px;
    color: #fff;
}

.container1 .form-valores .valor i{
    position: absolute;
    right: 8px;
    color: #ffffff;
    font-size: 1.2em;
    top: 25px;
}

.container1 .form-valores .onEnviar{
    width: 100%;
    display: flex;
    justify-content:center ;
}

.container1 .form-valores .onEnviar button{
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.container1 .form-valores .registrar{
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    margin: 25px 0 10px;
}

.container1 .form-valores .registrar p a{
    text-decoration: none;
    color: #fff;
    font-size: 600;
}

.login .form-valores .registrar p a:hover{
    text-decoration: underline;
}


.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(assets/img/fondo.gif);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    

}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: 200px;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 10px;
    width: 100%;
    margin: auto;
    border-radius: 80%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .editar{
    margin: 20px 0px;
    margin-bottom: 10px;
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.inicio .contenido-banner .editar{
    background-color: #1CB698;
    color:#ffffff;
}
.inicio .contenido-banner .editar:hover{
    background-color: #ffffff;
    color:#1CB698;
}

/* SECCION SOBRE MI */


.sobremi .contenido-seccion{
    padding: 20px;
    background-color: #1e2326;
    max-width: 900px;
    height: auto;
    border-radius: 40px;
    align-items: center;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px ;
}
.sobremi .contenido-seccion p {
    font-size: 16px;
}

.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    padding: 30px 0px;
    width: 100%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-align: center;
}

.sobremi .fila .col  .info{
    margin-left: 250px;
}
.sobremi .fila .col div strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;

}

.sobremi .boton{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

/* SECCION CURRICULUM */
.curriculum{
   background-color: #2b3033;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
   
}
.curriculum .contenido-seccion{
   background-color: #252A2E;
    max-width: 1100px;
    margin: auto;
    margin-top: 335px;
    margin-bottom: 335px;
    box-shadow: 30px 15px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius:55px;
    border: 0;
    outline: 0;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.curriculum .fila{

    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 50%;
    padding: 0 50px;
 
}
.curriculum .fila .col {
    font-size: 10px;
    font-family: "Righteous";
    margin-bottom: 10px;
    width: 400px;
}
.curriculum .fila .col h3 {
    font-size: 30px;
    font-family: "Righteous";
    margin-bottom: 10px;
    width: 400px;
}

.curriculum .fila .col .buttonIzq{
    font-size: 19px;
    font-family: "Righteous";
    margin-bottom: 20px;
    margin: 30px 30px;
  
}
.curriculum .contenido-seccion .fila .buttonIzq {
    width: 70%;
    display: flex;
    justify-content:center;
}

.curriculum .contenido-seccion .fila .buttonIzq{
    flex-basis: 48%;
    
    background: #1CB698;
    color: #ffffff;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.curriculum .contenido-seccion .fila .buttonIzq:hover{
    background-color: #ffffff;
    color:#1CB698;
}

.curriculum .fila .col .buttonDer{
    font-size: 18px;
    font-family: "Righteous";
    margin-bottom: 25px;
    margin: 30px 30px;
    
}
.curriculum .contenido-seccion .fila .buttonDer{
    width: 70%;
    display: flex;
    justify-content:center;
}

.curriculum .contenido-seccion .fila .buttonDer{
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.curriculum .contenido-seccion .fila .buttonDer:hover{
    background-color: #ffffff;
    color:#1CB698;
}
.curriculum .contenido-seccion .fila .item .contenedor-botones{ 
    margin: 0px 20px 0px 0;
    padding: 10px 0px;
}


.curriculum .contenido-seccion .fila .item .editar{ 
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 30px;
    width: 30%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin: 0 15px 15px 0;
    cursor: pointer;
    transition: background 1s;

  
}
.curriculum .contenido-seccion .fila .item .editar:hover{
    background-color: #ffffff;
    color:#1CB698;
}
.curriculum .contenido-seccion .fila .item .borrar{ 
    flex-basis: 48%;
    background: #ff0000;
    color: #fff;
    height: 30px;
    width: 30%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin: 0 15px 15px 0;
    cursor: pointer;
    transition: background 1s;

  
}
.curriculum .contenido-seccion .fila .item .borrar:hover{
    background-color: #ffffff;
    color:#1CB698;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #2e3438;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .lugar{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}.curriculum .fila .item .institucion{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.curriculum .fila .der{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}



/* SECCION SKILLS */

.skills{
    background-color: #2b3033;
    color: #fff;
    overflow: hidden;
}
.skills .contenido-skills{
    max-width: 1100px;
    margin: auto;
    background-color: #2b3033;
    height: 700px;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 150px 100px 10px;
}
.skills .contenido-skills .circulos{
    padding: 25px;
    background-color: #252A2E;
    float:left;
    margin-left:50px ;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 60px 15px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius:5000px;
    border: 0;
    outline: 0;
    width: 300px;
    height: center;
}


.skills .contenido-skills .buton{
    margin: 0px 500px;
    margin-bottom: 20px;
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 40px;
    width: 130px;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.skills .contenido-skills .buton{
    background-color: #1CB698;
    color:#ffffff;
}

.skills .contenido-skills .buton:hover{
    background-color: #ffffff;
    color:#1CB698;
}

.skills .contenido-skills .contenedor-boton  .contenedor-botones .borrar{ 
    flex-basis: 48%;
    background: #ff0000;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
    transition: background 1s;
}
.skills .contenido-skills .contenedor-boton  .contenedor-botones .borrar:hover{
    background-color: #ffffff;
    color:#1CB698;
}

.skills .contenido-skills .contenedor-boton  .contenedor-botones .editar{ 
    
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.skills .contenido-skills .contenedor-boton  .contenedor-botones .editar:hover{
    background-color: #ffffff;
    color:#1CB698;
}
/* SECCION PROYECTOS */
.proyectos{   
    background-color:#2b3033;
    color: #fff;
    overflow: hidden;
}

.proyectos .contenido-proyectos{
    text-align: center;
    background-color: #252A2E;
    max-width: 1100px;
    margin: auto;
    margin-top: 136px;
    box-shadow: 30px 15px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius:55px;
    border: 0;
    outline: 0;
}
.proyectos .contenido-proyectos h2{
    padding-top: 500px;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px ;
}

.proyectos .contenido-proyectos .pro1{
    padding: 0px 50px 60px;
    margin-bottom: 30px;
    position: center;
}
.proyectos .contenido-proyectos .pro1 h2{
    font-size: 30px;
    text-align: center;
    color: #1CB698;
    padding: 20px 0;
}
.proyectos .contenido-proyectos .pro .pro1 img{
    width: 100%;
    border-radius: 20px;
}

.proyectos .contenido-proyectos .nuevo{
    text-align: center;
    font-size:35px;
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.proyectos .contenido-proyectos  .nuevo{
    background-color: #1CB698;
    color:#ffffff;
}
.proyectos .contenido-proyectos  .nuevo:hover{
    background-color: #ffffff;
    color:#1CB698;
}

.curriculum .contenido-seccion .fila .item .editar:hover{
    background-color: #ffffff;
    color:#1CB698;
}
.proyectos .contenido-proyectos  .pro .pro1 .borrar{ 
    
    flex-basis: 48%;
    background: #ff0000;
    color: #fff;
    height: 30px;
    width: 8%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin: 10px 15px 15px 900px;
    cursor: pointer;
    transition: background 1s;

  
}
.proyectos .contenido-proyectos .pro .pro1 .borrar:hover{
    background-color: #ffffff;
    color:#1CB698;
}



/* SECCION FOOTER */
footer{
    background-color: #1e2326;
    color: #fff;
    padding: 15px 0 25px 0;
    text-align: center;
    position: relative;
    width: 100%;
}



/* SECCION ERROR 404 */

.fondoError{
    background-color: #2b3033;
    color: #fff;
    padding: 229px 20px;
}

.fondoError .texto{
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.fondoError .texto .imagen{
    padding: 25px;
    margin-bottom: 0px;
    position: center;
}
.fondoError .texto .imagen img{
    height: 300px;
    width: 500px;
}


/* SECCION RESPONSIVE */
@MEDIA screen and (max-width:1100px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:1100px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .sobremi .contenido-seccion .contenedor-info{
        width: fit-content;
    }
   
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .filad{
        margin-left: 20px;
    }
    .curriculum .filai{
        margin-left: 20px;
    }
 
 
}
