@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
/* LOGIN */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(assets/img/fondo.gif);
    background-position: center;
    background-size: cover;
}

.login .form-valores{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .form-valores h2{
    font-size: 2em;
    color: #1CB698;
    text-align: center;
}

.login .form-valores .valor {
    position: relative;
    margin: 30px 50px;
    width: 310px;
    border-bottom: 2px solid #fff;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
 
}

.login .form-valores .valor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-10%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
 
}
.login .form-valores .valor input:focus ~ label,
.login .form-valores .valor input:valid  ~ label{
top: -0.5px;
}

.login .form-valores .valor input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;

}

.login .form-valores .valor i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.login .form-valores .forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.login .form-valores .forget label input{
    margin-right: 3px;
    
}

.login .form-valores .forget  a{
    color: #fff;
    text-decoration: none;
    margin-left: 130px;
}
.login .form-valores .forget  a:hover{
    text-decoration: underline;
}

.login .form-valores .onEnviar{
    width: 100%;
    display: flex;
    justify-content:center ;
}

.login .form-valores .onEnviar button{
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.login .form-valores .registrar{
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    margin: 25px 0 10px;
}

.login .form-valores .registrar p a{
    text-decoration: none;
    color: #fff;
    font-size: 600;
}

.login .form-valores .registrar p a:hover{
    text-decoration: underline;
}

/*AGREGAR GENTE*/
.container{
    background-color: #2b3033;
    color: #fff;
    padding: 213px 20px;
}

/* MENU */
.contenedor-header{
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}
.contenedor-header header{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 30px;
    color: #1CB698;
    text-decoration: none;
   
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    font-size: 20px;
    margin: 0px 15px;
    padding: 1px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header ul button{
    
    text-align: none;
    color: #fff;
    border:transparent;
    background:transparent;
    font-size: 20px;
    margin: 0px 15px;
    padding: 1px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul button:hover{
    background-color: #1CB698;
    color:#fff;
    border-radius: 5px;

}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(assets/img/fondo.gif);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 10px;
    width: 100%;
    margin: auto;
    border-radius: 80%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

/* SECCION SOBRE MI */

.sobremi{
    background-color: #2b3033;
    color: #fff;
    padding: 213px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion .contenedor-info{
    width: 1100px;
    height: 130px;
    background-color: #2b3033;
    border-radius: 5px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: center;

}
.sobremi .contenido-seccion p strong{
    display: inline-block;
    color: #1CB698;
    width: 190px;
}

.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #232729;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi .boton{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi .boton .descarga{
    font-size: 20px;
    font-family: 'Righteous';
    color: #fff;

}
.sobremi .boton .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremi .boton:hover .overlay{
    width: 100%;
}

/* SECCION CURRICULUM */
.curriculum{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(assets/img/fondo2.gif);
    background-size: cover;
    height: 130vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 50px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}
.curriculum .fila .col .buttonIzq{
    font-size: 19px;
    font-family: "Righteous";
    margin-bottom: 25px;
    
}
.curriculum .contenido-seccion .fila .buttonIzq {
    width: 45%;
    display: flex;
    justify-content:center;
}

.curriculum .contenido-seccion .fila .buttonIzq{
    flex-basis: 48%;
    background: #1CB698;
    color: #ffffff;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.curriculum .contenido-seccion .fila .buttonIzq:hover{
    background-color: #ffffff;
    color:#1CB698;
}

.curriculum .fila .col .buttonDer{
    font-size: 18px;
    font-family: "Righteous";
    margin-bottom: 25px;
    
}
.curriculum .contenido-seccion .fila .buttonDer{
    width: 45%;
    display: flex;
    justify-content:center;
}

.curriculum .contenido-seccion .fila .buttonDer{
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.curriculum .contenido-seccion .fila .buttonDer:hover{
    background-color: #ffffff;
    color:#1CB698;
}
.curriculum .contenido-seccion .fila .item .contenedor-botones{ 
    margin: 0px 20px 0px 0;
    padding: 10px 0px;
}


.curriculum .contenido-seccion .fila .item .editar{ 
    flex-basis: 48%;
    background: #1CB698;
    color: #fff;
    height: 30px;
    width: 30%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin: 0 15px 15px 0;
    cursor: pointer;
    transition: background 1s;

  
}
.curriculum .contenido-seccion .fila .item .editar:hover{
    background-color: #ffffff;
    color:#1CB698;
}
.curriculum .contenido-seccion .fila .item .borrar{ 
    flex-basis: 48%;
    background: #ff0000;
    color: #fff;
    height: 30px;
    width: 30%;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin: 0 15px 15px 0;
    cursor: pointer;
    transition: background 1s;

  
}
.curriculum .contenido-seccion .fila .item .borrar:hover{
    background-color: #ffffff;
    color:#1CB698;
}





.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .lugar{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}.curriculum .fila .item .institucion{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.curriculum .fila .der{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}



/* SECCION SKILLS */

.skills{
    background-color: #2b3033;
    color: #fff;
    padding: 320px 20px;
}

.skills .contenido-skills{
    max-width: 1100px;
    margin: auto;
    
}
.skills .contenido-skills .fila{
    display: flex;
    justify-content: space-between;
}

.skills .contenido-skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.skills .contenido-skills .fila .filai h2{
    font-size: 35px;
    color: #fff;
    font-family: 'Righteous';
    text-align: left;
    padding: 20px 0;
}


.skills .contenido-skills .filai{
    width: 500px;
    height: center;
    margin:  left;
    color: #1CB698;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skills .contenido-skills .filai h3{
    margin: 20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(250, 250, 250)0%, rgb(89, 236, 255)100%);
}


.html{
    width: 70%;
}

.css{
    width: 60%;
}
.javascript{
    width: 10%;
}

.skills .contenido-skills .fila .filad h2{
    font-size: 35px;
    color: #fff;
    font-family: 'Righteous';
    text-align: left;
    padding: 20px 0;
}
.skills .contenido-skills .filad{
    width: 500px;
    height: right;
    margin:  right;
    color: #1CB698;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skills .contenido-skills .filad h3{
    margin: 20px 0;
}
.bar1{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
}

.bar1 span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(250, 250, 250)0%, rgb(89, 236, 255)100%);
}


.creatividad{
    width: 85%;
}

.trabajoenequipo{
    width: 80%;
}
.carisma{
    width: 100%;
}


/* SECCION PROYECTOS */
.proyectos{   
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(assets/img/fondo2.gif);
    background-size: cover;
    height: 120vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.proyectos .contenido-proyectos{
    max-width: 1100px;
    margin: auto;
    
}
.proyectos .contenido-proyectos h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.proyectos .contenido-proyectos .pro1{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: center;
}
.proyectos .contenido-proyectos .pro1 h2{
    font-size: 30px;
    text-align: center;
    color: #1CB698;
    padding: 20px 0;
}
.proyectos .contenido-proyectos .pro .pro1 img{
    width: 100%;
    display: block;
    
}


/* SECCION FOOTER */
footer{
    background-color: #1e2326;
    color: #fff;
    padding: 15px 0 25px 0;
    text-align: center;
    position: relative;
    width: 100%;
}



/* SECCION ERROR 404 */

.fondoError{
    background-color: #2b3033;
    color: #fff;
    padding: 229px 20px;
}

.fondoError .texto{
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.fondoError .texto .imagen{
    padding: 25px;
    margin-bottom: 0px;
    position: center;
}
.fondoError .texto .imagen img{
    height: 300px;
    width: 500px;
}


/* SECCION RESPONSIVE */
@MEDIA screen and (max-width:1100px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:1100px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .sobremi .contenido-seccion .contenedor-info{
        width: fit-content;
    }
   
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .filad{
        margin-left: 20px;
    }
    .curriculum .filai{
        margin-left: 20px;
    }
 
 
}
