<!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>Curriculum</h2>




        <div class="fila">
            <div class="col izquierda">
                <h3>Educación</h3>
                <button type="button" class="buttonIzq" routerLink="/nuevaedu" *ngIf="isLogged">
                    Nueva Educacion
                </button>
                <div class="item der" *ngFor="let Educacion of educacion">
                    <h4>{{Educacion.nombreE}}</h4>
                    <span class="lugar">{{Educacion.descripcionE}}</span>
                    <div class="contenedor-botones">
                        <button class="editar" *ngIf="isLogged" type="button" routerLink="/editedu/{{Educacion.id}}">
                            <i class="fa-solid fa-pencil"></i></button>
                        <button class="borrar"*ngIf="isLogged" type="button" (click)="borrar(Educacion.id)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>


            <div class="col derecha">
                <h3>Experiencia de trabajo</h3>
                <button type="button" class="buttonDer" routerLink="/nuevaexp" *ngIf="isLogged">
                     Nueva Experiencia
                </button>
                <div class="item der" *ngFor="let Experiencia of expe">
                    <h4>{{Experiencia.nombreE}}</h4>

                    <span class="lugar">{{Experiencia.descripcionE}}</span>
                    <div class="contenedor-botones">
                        <button class="editar" *ngIf="isLogged" type="button" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="fa-solid fa-pencil"></i></button>
                        <button class="borrar"*ngIf="isLogged" type="button" (click)="delete(Experiencia.id)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    

                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>