
<section class="container">
    <div class="form-valores">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" >
            <div class="valor">
                <input type="text" class="form-control"  id="nombreUsuario" name="nombreE" [(ngModel)]="educacion.nombreE" required>
                <label for="nombreUsuario">Nombre de la Institucion</label>
            </div>
            <div class="valor">
                <input type="text" class="form-control" id="password"  name="descripcionE"[(ngModel)]="educacion.descripcionE" required >
                <label for="password">Descripcion de estudio</label>
            </div>
            <div class="onEnviar">
                <button >Agregar edicion</button>
            </div>     
        </form>
    </div>
</section>

