
<section class="container">
    <div class="form-valores">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm" >
            <div class="valor">
                <input type="text" class="form-control"  id="nombreUsuario" name="nombre" [(ngModel)]="nombreE" required>
                <label for="nombreUsuario">Nombre de la Institucion</label>
            </div>
            <div class="valor">
                <input type="text" class="form-control" id="password"  name="descripcionE"[(ngModel)]="descripcionE" required >
                <label for="password">Descripcion de estudio</label>
            </div>
            <div class="onEnviar">
                <button >Agregar educacion</button>
            </div>     
        </form>
    </div>
</section>



