
<section class="container">
    <div class="form-valores">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" >
            <div class="valor">
                <input type="text" class="form-control"  id="nombreUsuario" name="nombre" [(ngModel)]="skill.nombre" required>
                <label for="nombreUsuario">Nombre de la skill</label>
            </div>
            <div class="valor">
                <input type="text" class="form-control" id="password"  name="porcentaje"[(ngModel)]="skill.porcentaje" required >
                <label for="password">Ingrese el porcentaje</label>
            </div>
            <div class="onEnviar">
                <button >Actualizar</button>
            </div>     
        </form>
    </div>
</section>


